<h2>Heroes List</h2>
<p-table [value]="heroes">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div>
          Name
          <p-columnFilter
            type="text"
            field="name"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div>
          Universe
          <p-columnFilter
            type="text"
            field="universe.name"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div>
          Powers
          <p-columnFilter
            type="text"
            field="powers"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name }}</td>
      <td>{{ hero.universe?.name }}</td>
      <td>
        <div class="flex align-items-center">

          <div *ngFor="let power of hero.powers" >
            <p-chip label="{{power}}" styleClass="mr-2" ></p-chip>
          </div>
        </div>
      </td>
      <!-- <td>{{ hero.powers }}</td> -->
    </tr>
  </ng-template>
</p-table>

<button
  pButton
  pRipple
  label="New Hero"
  icon="pi pi-plus"
  class="p-button-success mr-2"
  (click)="showDialog()"
></button>
<p-dialog
  [(visible)]="heroDialog"
  [style]="{ width: '450px' }"
  header="Hero Details"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="resetHero()"
  >
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="hero.name"
        required
        autofocus
      />
      <!-- <small class="p-error" *ngIf="submitted && !hero.name"
        >Name is required.</small
      > -->
    </div>
    <!-- <div class="field">
      <label for="universe">Universe</label>
      <input
        type="text"
        pInputText
        id="universe"
        [(ngModel)]="hero.universe"
        required
        autofocus
      />
    </div> -->
    <button
      pButton
      pRipple
      label="Create"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="createHero()"      
    ></button>
  </ng-template>
</p-dialog>